body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  font-family: 'Comfortaa', cursive;
}

::-webkit-scrollbar {
display: none;
}

.img1, .img2, .img3{
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.img1{
  background-image:url('../images/image1.jpeg');
  min-height:100%;
}

.img2{
  background-image:url('../images/image2.jpeg');
  min-height:400px;
}

.img3{
  background-image:url('../images/image3.jpeg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f1f1f2;
  color:#1e1f26;
}

.section-dark{
  background-color:#1e1f26;
  color:#f1f1f2;
}

.paraText-main{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#f1f1f2;
  font-size: 5rem;
  letter-spacing:8px;
  text-transform:uppercase;
  z-index: 1;
}

.animated-text{
  animation: fadeAndScale .7s cubic-bezier(1,-0.22,0,1.54);
}

@keyframes fadeAndScale {
   from{
    opacity: 0;
    transform: scale3d(.50, .50, 1)
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}

.paraText{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  z-index: 1;
}

.paraText h5{
  font-size: 1.5rem;
  letter-spacing: 8px;
}

.paraText a{
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.paraText .border{
  background-color:transparent;
  color:#fff;
  font-size: 2.5em;
  padding:20px;
  border-radius: 10px;

}

.paraText .border.trans{
  background-color:transparent;
}

@media only screen and (max-width: 580px) {

  .img1, .img2, .img3{
    background-attachment:scroll;
  }

  body, html{
    line-height: normal;

  }

  .border span{
    top: 100px;
    font-size: 1.4em;

  }

  .paraText{
    font-size: 1.2em;
    top: 100px;
  }

}







